header {
    padding: 20px 15px;
    background: #eee;
    border-bottom: 1px solid #ddd;
}

section {
    padding: 20px 15px;
}

h1 {
    color: #FF416C;
    font-size: 42px;
    letter-spacing: 5px;
    text-align: center;
    text-shadow: 2px 3px 0px black;
}