header {
    padding: 20px 15px;
    background: #eee;
    border-bottom: 1px solid #ddd;
}

section {
    padding: 20px 15px;
}

/* ########## 試著調整以下選擇目標的樣式 ########## */

h1 {
    color: #f43f69;
    font-size: 36px;
    letter-spacing: 5px;
    text-align: center;
    text-shadow: 2px 3px 0px black;
}